<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/choose_loc.css' %}" type="text/css"> <!--main.css 링크-->
        <script type="text/javascript"></script>
        {% if count == 1 %}<script>location.href="{% url 'choose_loc' %}"</script>{% endif %}
        <script src="{% static 'js/choose_loc.js' %}"></script>
        <title>course_loc</title>
    </head>
    <body>

        <form action = "{% url 'choose_loc' %}" name = "lanForm" method = "POST" accept-charset="UTF-8"> {% csrf_token %}
            <div id="container">
                <img id="reservation2-bkbt" name="reservation2-bkbt" src="{% static 'img/reservation2-bkbt.png' %}" onclick="bkfun();">
                <!--뒤로가기 버튼 삽입-->
                <img id="reservation2-homebt" name="reservation2-homebt" src="{% static 'img/reservation2-homebt.png' %}" onclick="hfun();">
                <!--홈 버튼 삽입-->

                <span id="a">

                    <span id="namebbox">
                        {% for user in users %}
                        <div id="name" name="name">{{user.name}}</div>
                        {% endfor %}
                    
                        <div id="nim">님,</div>
                    </span>
                    <div id="where">어디로 여행하시나요?</div>

                    <input type="text"id="search" name="search"  placeholder="이곳에 입력하세요.">
                    <input type="hidden"id="company_loc" name="company_loc" value = "gifu">
                    <img id="whitemap" src="{%static 'img/mp_color.png' %}">

    
                        <span id="dono" onclick="sm();">도노 <input type="hidden"id="company_loc" name="company_loc" value = "dono"></span>
                        <span id="juno" onclick="sm();">주노 <input type="hidden"id="company_loc" name="company_loc" value = "juno"> </span>
                        <span id="hida" onclick="sm();">히다  <input type="hidden"id="company_loc" name="company_loc" value = "hida"></span>
                        <span id="gifu" onclick="sm();">기<br>후  <input type="hidden"id="company_loc" name="company_loc" value = "gifu"> </span>
                        <span id="seino" onclick="sm();">세<br>이<br>노 <input type="hidden"id="company_loc" name="company_loc" value = "seino"></span>
            
                </span>
            </div>
        </form>
    </body>
</html>