<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/choose_end.css' %}" type="text/css"> <!--main.css 링크-->
        <script type="text/javascript"></script>
        <script src="{% static 'js/choose_endjs' %}"></script>
        <title>choose1_end</title>
    </head>
    <body>

        <img id="logo" src="{%static 'img/logo.png'%}">
        <div class="text">
            <span id="always">언제나</span>
            <span id="fun">즐겁고</span>
            <span id="happy">행복한</span>
            <span id="trip">여행이 되시길 바랍니다.</span>
        </div>

        <div class="fin_text">
            <!--<div id="name" name="name">{{user.name}}</div>-->
            <span id="name" name="name">{{request.session.id}}</span>
            <span id="nim">님,</span>
            <span id="finish01">예약이 완료 됐어요.</span>
            <span id="finish02">예약확인은 홈에서 하실 수 있어요.</span>
        </div>

        <div class="fin_bt">
            <img id="homebt" name="homebt" src="{%static 'img/hcb_b.png' %}" onclick="location.href='/index';">
            <img id="coursebt" name="coursebt" src="{%static 'img/crc_b.png' %}" onclick="location.href='/course/';">
        </div>
        
    </body>
</html>
<!--학교 데스크탑 커밋 테스트-->