<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/near_shop5.css' %}" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript"></script>
        <script src="{% static 'js/near_shop1.js' %}"></script>
        <title>near_shop</title>
    </head>
 
    <body>
        
        {% load static %}
        <img id="backbt" src="{% static 'img/back-bt-blue.png' %}" onclick="bkfun()">
        <img id="goset" src="{% static 'img/home-bt-blue.png' %}" onclick="hfun();">
        <span id="txt">
            <span id="name" name="name">미림</span>
            <span id="nim">님</span>
            <span id="near">근처의</span>
            <span id="shop">자전거 대여소는 이곳이에요!<span>
        </span>
    </body>
</html>