<!--<html>
    <body>
        <table>
        {% for notice in notices %}
            <tr onclick="location.href='notice/{{notice.num}}'">
                <td>{{notice.num}}</td>
                <td>{{notice.subject}}</td>
                <td>{{notice.regdate}}</td>
                <td>{{notice.writer}}</td>
            </tr>
        {% endfor %}
        </table>
    </body>
</html>-->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/notice.css' %}" type="text/css"> <!--main.css 링크-->
        <script type="text/javascript"></script>
        <script src="{% static 'js/notice.js' %}"></script>
        <title>notice</title>
    </head>
    <body>
    
        <div id="head">
            <div id="bt">
                <img id="reservation2-bkbt" name="reservation2-bkbt" src="{% static 'img/bb_b.png' %}" onclick="bkfun();">
                <!--뒤로가기 버튼 삽입-->
                <img id="reservation2-homebt" name="reservation2-homebt" src="{% static 'img/hb_b.png' %}" onclick="hfun();">
                <!--홈 버튼 삽입-->
            </div>
    
            <div id="settxt">
                <span id="txt">공지사항</span>
            </div>
    
            {% for notice in notices %}
            <span id="s_txt">
                <div id="m_text" onclick="location.href='notice/{{notice.num}}'">[공지] {{notice.subject}}</div>
                <div id="r_date">{{notice.regdate}}</div>
                <img id="bar-thingr" src="{% static 'img/bar-thingr.png' %}">
            </span>
            </div>
            {% endfor %}
    </body>
</html>