<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/reservation_check.css' %}" type="text/css"> <!--main.css 링크-->
        <script type="text/javascript"></script>
        <script src="{% static 'js/reservation_check.js' %}"></script>
        <title>reservation_check</title>
    </head>

    <script>
        console.log("{{r_rtime|date:'Y-m-d H:i' }}:00");
        CountDownTimer("{{r_rtime|date:'Y-m-d H:i' }}:00", 'countdown');
        function CountDownTimer(dt, id) {
            var end = new Date(dt);
            var _second = 1000;
            var _minute = _second * 60;
            var _hour = _minute * 60;
            var _day = _hour * 24;
            var timer;
            function showRemaining() {
                var now = new Date();
                var distance = end - now;
                // 시간 종료 시 뜨는 문구
                if (distance < 0) {
                    clearInterval(timer);
                    document.getElementById(id).innerHTML = '반납시간이 지났습니다. 빨리 반납해주세요';
                    return;
                }
                var days = Math.floor(distance / _day);
                var hours = Math.floor((distance % _day) / _hour);
                var minutes = Math.floor((distance % _hour) / _minute);
                var seconds = Math.floor((distance % _minute) / _second);
                document.getElementById(id).innerHTML = hours + '시간 ';
                document.getElementById(id).innerHTML += minutes + '분 ';
                document.getElementById(id).innerHTML += seconds + '초';
            }
            timer = setInterval(showRemaining, 1000);
        }
    </script>

    <body>
        {% load static %}
        <img id="bkbt" name="reservation2-bkbt" src="{% static 'img/reservation2-bkbt.png' %}" onclick="bkfun();">
        <!--뒤로가기 버튼 삽입-->
       <img id="homebt" name="reservation2-homebt" src="{% static 'img/reservation2-homebt.png' %}" onclick="bkfun();">
        <!--홈 버튼 삽입-->
        
            <div id="history_place" name="history_place">{{company.member_name}}</div>
            <span id="txt">  
            <div id="history_loc" name="history_place">장소: {{company.company_loc}} {{company.company_addr}}</div>
            <div id="company_phone" name="company_phone">TEL: {{company.company_phone}} </div>   
            {%if history.btime == None%}<!--빌린 시간이 기본 값일 때, -> 아직 안 빌림 -->
            <div id="r_btime" name="r_btime">대여 예정시간 <br> {{history.r_btime}} <br> {{history.r_rtime}} </div>
            </span>

            {%else%}
            <span id="timer">
                {%if history.rtime == None%}<!--반납 시간이 기본 값일 때, -> 아직 반납을 안 함 -->
                    반납시간까지<div id="countdown"></div> 남았습니다.<br>
            </span>
                {%else%}
                    <span id="fin">반납완료</span>
                {%endif%}
            {%endif%}

            <span id="img">
            <img id="qr" src = "/static/{{imgurl}}">
            </span>
            <!-- <img src="{% static '{{imgurl}}' %}"> -->  
        </div>
        <span id="qt"><img src="{%static 'img/QR_text.png'%}"></span>
    </body>

    
</html>