<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/course_rec.css' %}" type="text/css">
        <script type="text/javascript"></script>
        <script src="{% static 'js/course_rec.js' %}"></script>
        <title>reservation_list</title>
    </head>
    <body>

            <img id="bkbt" name="reservation2-bkbt" src="{% static 'img/reservation2-bkbt.png' %}" onclick="bkfun();">
             <!--뒤로가기 버튼 삽입-->
            <img id="homebt" name="reservation2-homebt" src="{% static 'img/reservation2-homebt.png' %}" onclick="bkfun();">
             <!--홈 버튼 삽입-->

        <img class="bluebox"  src="{% static 'img/bluebox.png' %}" onclick = location.href='/{{history.history_num}}'>

        {%for history in historys%}
        <div id="show" style="display: none;">
          <input type="hidden" id="h" value={{history.history_num}}>
            <span id="txt">
                {%for company in companys%}
                    {%if company.company_num == history.company_num%}
                    <div id="member_name">{{company.member_name}}</div>
                    <br>
                    <div id="company_addr">{{company.company_loc}}시 {{company.company_addr}}</div>
                    <br>
                    <div id="company_phone">{{company.company_phone}}</div>
                    {%endif%}
                {%endfor%}
                <div id="time">{{history.r_btime}} ~ {{history.r_rtime}}</div>
                <br>
            </span>
        </div>
        {%endfor%}

            <img id="rbt" onclick="a();" src="{%static 'img/next-r-bt.png'%}">
            <img id="lbt" onclick="b();" src="{%static 'img/next-l-bt.png'%}">
            
        
        
       <img id="rsv-course" src="{% static 'img/rsv-course.png' %}" onclick="location.href='/course/';">
    </body>
</html>