<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/s_detail.css' %}" type="text/css"> <!--main.css 링크-->
        <script type="text/javascript"></script>
        <script src="{% static 'js/shop_detail.js' %}"></script>
        <title>choose_shop_detail</title>
    </head>
    <body>
        
        <form action = "." name = "shopForm" method = "POST" accept-charset="UTF-8"> {% csrf_token %}
        <img id="backbt" src="{% static 'img/b_bt.png' %}" onclick="bkfun()">
       <img id="goset" name="reservation2-homebt" src="{% static 'img/reservation2-homebt.png' %}" onclick="hfun();">

        <div class="info_shop">
            <span id="member_name" name="member_name">{{shop.member_name}}</span>
            <span id="company_info" name="company_info">{{shop.company_info}}</span>
            <span id="company_addr" name="company_addr">주소 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{{shop.company_addr}}</span>
            <span id="company_phone" name="company_phone">전화번호 &nbsp; &nbsp; &nbsp;{{shop.company_phone}}</span>
            <span id="s_business" name="s_business">영업시간 &nbsp; &nbsp; &nbsp;XX시~XX시</span>
        </div>
            <input type = hidden name = company_num id = company_num value = {{shop.company_num}}>
            <img id="b" src="{% static 'img/rv_b.png' %}" onclick = "sm();">
            <!--<input type = submit value = "이 대여소 선택하기">-->
        </form>
    </body>
</html>
