@charset "utf-8";

@font-face { font-family: 'NotoSansCJKKR-Black'; src: url("../font/NotoSansCJKkr-Bold.otf") } 
@font-face { font-family: 'NotoSansCJKKR-Regular'; src: url("../font/NotoSansCJKkr-Regular.otf") } 

body{
    background-image: url("../img/rsv-chk-bg.png");

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#backbt{
    position: relative;
    float: left;

}
#homebt{
    position: relative;
    float: right;
}

#bluebox{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top:5%;
    left:17%;
}

#txt{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    font-family: NotoSansCJKKR-Regular;
    font-size:2.688em;
    color:white;
    margin-top:-92%;
    margin-left:20%;
    width:550px;
}

#txt #member_name{
    font-family: NotoSansCJKKR-Bold;
    font-size:1.288em;
}

#txt #company_addr{
    margin-top:10%;
    margin-bottom: 5%;
}

#txt #company_phone{
    margin-top:5%;
}

#rbt{
    position: relative;
    margin-top:-25%;
    float:right;
}

#lbt{
    position: relative;
    margin-top:-25%;
    float:left;
}
#rsv-course{
    position: relative;
    display: flex;
    width:40%;
    height: auto;
    margin-top:80%;
    margin-left:10%;
    margin-bottom:10%;
}