@charset "utf-8";

@font-face { font-family: 'NotoSansCJKKR-Bold'; src: url("../font/NotoSansCJKkr-Bold.otf") } 
@font-face { font-family: 'NotoSansCJKKR-Black'; src: url("../font/NotoSansCJKkr-Bold.otf") } 
@font-face { font-family: 'NotoSansCJKKR-Regular'; src: url("../font/NotoSansCJKkr-Regular.otf") } 
@font-face { font-family: 'NotoSansCJKKR-Medium'; src: url("../font/NotoSansCJKkr-Medium.otf") } 


body{
    background-image: url("../img/ntc-detail-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} /*bg img 설정*/


#head{
    position: relative;
}

#head #reservation2-bkbt{
    position: relative;
    width:8%;
    margin-top:3%;
    left:2%;
    height:auto;
    float:left;
} /*<- 버튼 위치 설정*/

#head #reservation2-homebt{
    position: relative;
    width:8%;
    margin-top: 3%;
    right:2%;
    height:auto;
    float:right;
} /*home 버튼 위치 설정*/

#container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

#container #n_name{
    font-family: NotoSansCJKKR-Bold;
    position: relative;
    font-size:3.599em;
    color:rgb(0, 0, 0);
    margin-top:25%;
    width:1600px;
}

#container #n_text{
    font-family: NotoSansCJKKR-Regular;
    position: relative;
    font-size:2.822em;
    color:rgb(0, 0, 0);
    margin-top:20%;
    float:left;
    left:-48%;
}

#container #r_date{
    font-family: NotoSansCJKKR-Medium;
    position: relative;
    font-size:2.088em;
    color:rgb(80, 78, 78);
}


