@charset "utf-8";

@font-face { font-family: 'NotoSansCJKKR-Black'; src: url("../font/NotoSansCJKkr-Black.otf") } 
@font-face { font-family: 'NotoSansCJKKR-Regular'; src: url("../font/NotoSansCJKkr-Regular.otf") } 
@font-face { font-family: 'NotoSansCJKKR-Bold'; src: url("../font/NotoSansCJKkr-Bold.otf")}
@font-face { font-family: 'NotoSansCJKKR-Medium'; src: url("../font/NotoSansCJKkr-Medium.otf")}

body{
    background-image: url("../img/csd-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} /*bg img 설정*/

#backbt{
    width:8.5%;
    margin-top:5.5%;
    margin-left:5%;
}


#goset{
    float: right;
    margin-top:4%;
    margin-right:5%;
    width:10.5%;
}


.info_shop{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top:90%;
    margin-left: 5%;
    margin-right:5%;
}


.info_shop #member_name{
    font-family: NotoSansCJKKR-Bold;
    font-size:6em;
    color:rgb(75, 72, 72);
    width:99%;
    margin-top: 15%;;
}

.info_shop #company_info{
    font-family: NotoSansCJKKR-Medium;
    font-size:2.8em;
    color:rgb(100, 100, 100);
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left:0.2%;
    width:99%;
}


.info_shop #company_addr{
    font-family: NotoSansCJKKR-Medium;
    font-size:2em;
    color:rgb(100, 100, 100);
    width:99%;
}


.info_shop #company_phone{
    font-family: NotoSansCJKKR-Medium;
    font-size:2em;
    color:rgb(100, 100, 100);
    width:99%;
}

.info_shop #s_business{
    font-family: NotoSansCJKKR-Medium;
    font-size:2em;
    color:rgb(100, 100, 100);
    width:99%;
}
 #b{
    position: relative;
    width:30%;
    height:auto;
    margin-top:15%;
    margin-left:60%;
    filter: drop-shadow(30px 30px 30px hsl(0, 4%, 87%)); 
} /*완료 버튼 위치 설정*/ 
