@charset "utf-8";

@font-face { font-family: 'NotoSansCJKKR-Black'; src: url("../font/NotoSansCJKkr-Black.otf") } 
@font-face { font-family: 'NotoSansCJKKR-Bold'; src: url("../font/NotoSansCJKkr-Bold.otf") }
@font-face { font-family: 'NotoSansCJKKR-Regular'; src: url("../font/NotoSansCJKkr-Regular.otf") } 
@font-face { font-family: 'NotoSansCJKKR-Medium'; src: url("../font/NotoSansCJKkr-Medium.otf") } 

body{
    background: url("../img/Setting-page-bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#head{
    position: relative;
}

#head #reservation2-bkbt{
    position: relative;
    width:9%;
    height:auto;
    float:left;
} /*<- 버튼 위치 설정*/

#head #reservation2-homebt{
    position: relative;
    width:9%;
    height:auto;
    float:right;
} /*home 버튼 위치 설정*/

#txt{
    float: left;
    margin-top:85px;
    margin-left:-30px;
    font-family: NotoSansCJKKR-Black;
    font-size:1.988em;
    color:#64b9e3;
}

#s_txt{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    justify-content:left;
    font-family: NotoSansCJKKR-Medium;
    font-size:1.188em;
    color:#696969;
    left:-30%;
}

#s_txt #modify{
    margin-top:100%;
    margin-bottom:10%;
}

#s_txt #out{
    left:-40%;
    margin-bottom:10%;
    margin-top: 80%;
    left: -30%;
}
